project:
  type: website
  output-dir: docs

website:
  title: "Devon Allies - Portfolio of Data Science Projects"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



